/* line 7, ../css/scss/elements/accordion-toggles.scss */
.accordion {
  margin-bottom: 20px; }
  /* line 10, ../css/scss/elements/accordion-toggles.scss */
  .accordion .ac-item .ac-title:before {
    font-family: fontawesome; }
  /* line 13, ../css/scss/elements/accordion-toggles.scss */
  .accordion .ac-item .ac-title:before {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 10px;
    display: block;
    padding: 3px 6px 2px;
    color: #ddd;
    content: "\f054";
    font-size: 12px;
    line-height: 12px;
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s; }
  /* line 28, ../css/scss/elements/accordion-toggles.scss */
  .accordion .ac-item > .ac-title > i {
    margin-right: 16px; }
  /* line 31, ../css/scss/elements/accordion-toggles.scss */
  .accordion .ac-item .ac-active .ac-title:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    ms-transform: rotate(90deg); }
  /* line 38, ../css/scss/elements/accordion-toggles.scss */
  .accordion .ac-title {
    position: relative;
    padding: 12px 30px 12px 15px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06);
    margin-bottom: 2px; }
  /* line 48, ../css/scss/elements/accordion-toggles.scss */
  .accordion .ac-content {
    overflow: hidden; }

/* line 53, ../css/scss/elements/accordion-toggles.scss */
.ac-content {
  padding: 16px 13px; }

/* line 59, ../css/scss/elements/accordion-toggles.scss */
.accordion.clean .ac-item .ac-title {
  border: 0px;
  background: transparent; }

/* line 67, ../css/scss/elements/accordion-toggles.scss */
.accordion .border .ac-item .ac-title {
  border: 1px solid #e7e7e7; }
/* line 70, ../css/scss/elements/accordion-toggles.scss */
.accordion .border-bottom .ac-item .ac-title {
  border-bottom: 1px solid #e7e7e7; }

/* line 78, ../css/scss/elements/accordion-toggles.scss */
.accordion.radius .ac-item .ac-title {
  border-radius: 4px; }

/* line 86, ../css/scss/elements/accordion-toggles.scss */
.accordion.fancy .ac-item {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 1px 1px 0px 1px; }
  /* line 95, ../css/scss/elements/accordion-toggles.scss */
  .accordion.fancy .ac-item .ac-title {
    margin: 0; }
  /* line 98, ../css/scss/elements/accordion-toggles.scss */
  .accordion.fancy .ac-item .ac-active .ac-title,
  .accordion.fancy .ac-item :last-child {
    border-bottom: 1px solid #e7e7e7; }
/* line 104, ../css/scss/elements/accordion-toggles.scss */
.accordion.fancy.clean .ac-item.ac-active .ac-title {
  background-color: transparent; }
/* line 109, ../css/scss/elements/accordion-toggles.scss */
.accordion.fancy.radius > .ac-item:first-child {
  border-radius: 4px 4px 0 0; }
/* line 112, ../css/scss/elements/accordion-toggles.scss */
.accordion.fancy.radius > .ac-item:last-child {
  border-radius: 0 0 4px 4px; }
/* line 119, ../css/scss/elements/accordion-toggles.scss */
.accordion.color .ac-item .ac-title:before {
  color: #fff; }
/* line 122, ../css/scss/elements/accordion-toggles.scss */
.accordion.color .ac-item .ac-open {
  display: block; }
/* line 128, ../css/scss/elements/accordion-toggles.scss */
.accordion.accordion-transparent .ac-item {
  background-color: transparent !important;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1); }
  /* line 133, ../css/scss/elements/accordion-toggles.scss */
  .accordion.accordion-transparent .ac-item .ac-title::before {
    color: #333; }
  /* line 136, ../css/scss/elements/accordion-toggles.scss */
  .accordion.accordion-transparent .ac-item p {
    color: #111; }
/* line 140, ../css/scss/elements/accordion-toggles.scss */
.accordion.accordion-transparent.fancy .ac-item.ac-active .ac-title,
.accordion.accordion-transparent .ac-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
