/* ----------------------------------------------------------------------
Breadcrumbs
-------------------------------------------------------------------------*/
/* line 5, ../css/scss/elements/breadcrumbs.scss */
.breadcrumb {
  background-color: transparent;
  font-size: 12px;
  line-height: 1.3em;
  margin-bottom: 0;
  margin-top: 16px;
  text-align: right; }
  /* line 12, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb ul {
    display: inline;
    margin: 0;
    padding: 0; }
  /* line 17, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb li {
    display: inline; }
  /* line 20, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb a {
    color: #888; }
  /* line 23, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb li + li:before {
    content: "\f105";
    padding: 0 5px;
    font-family: FontAwesome; }
  /* line 28, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy {
    overflow: hidden;
    font-size: 12px;
    line-height: 1.3em;
    background-color: transparent;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 14px; }
    /* line 36, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.fancy li {
      line-height: 32px;
      margin: 0 2px 0 10px; }
      /* line 39, ../css/scss/elements/breadcrumbs.scss */
      .breadcrumb.fancy li + li:before {
        content: none; }
  /* line 44, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.radius li + li:before {
    content: none; }
  /* line 48, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy li:first-child i {
    margin-right: -6px; }
  /* line 51, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy a {
    background: #eee;
    padding: .7em 1em;
    text-decoration: none;
    position: relative; }
    /* line 56, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.fancy a:hover {
      background: #ddd;
      color: #333; }
  /* line 61, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy .active a {
    background: #ddd;
    color: #333; }
  /* line 65, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1.1em;
    border-style: solid;
    border-color: #eee #eee #eee transparent;
    left: -1em; }
  /* line 75, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy li:first-child {
    margin: 0 2px 0 0; }
    /* line 77, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.fancy li:first-child a::before {
      border-width: 0; }
  /* line 81, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy a:hover::before, .breadcrumb.fancy .active a:before {
    border-color: #ddd #ddd #ddd transparent; }
  /* line 85, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy a::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #eee;
    right: -1em; }
  /* line 95, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy a:hover::after {
    border-left-color: #ddd; }
  /* line 99, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.fancy .active a:after {
    border-left-color: #ddd; }
  /* line 103, ../css/scss/elements/breadcrumbs.scss */
  .breadcrumb.radius {
    background: transparent;
    overflow: hidden;
    font-size: 12px; }
    /* line 107, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius li {
      margin-right: 16px; }
    /* line 110, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius a:hover, .breadcrumb.radius .active a {
      background: #ddd;
      color: #333; }
    /* line 114, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius a, .breadcrumb.radius .active a {
      background: #eee;
      padding: 4px 8px;
      text-decoration: none;
      position: relative; }
    /* line 121, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius a:hover {
      background: #ddd; }
    /* line 124, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius a::before, .breadcrumb.radius a::after {
      background: none repeat scroll 0 0 #eee;
      bottom: 0;
      content: "";
      height: 25px;
      position: absolute;
      top: 0;
      -webkit-transform: skew(-8deg);
      -ms-transform: skew(-8deg);
      transform: skew(-8deg);
      width: 10px; }
    /* line 136, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius a::before {
      left: -.5em;
      border-radius: 5px 0 0 5px; }
    /* line 140, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius a:hover::before {
      background: #ddd; }
    /* line 143, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius a::after {
      right: -.5em;
      border-radius: 0 5px 5px 0; }
    /* line 147, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius a:hover::after {
      background: #ddd; }
    /* line 151, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius .active:hover {
      background: #ddd; }
    /* line 154, ../css/scss/elements/breadcrumbs.scss */
    .breadcrumb.radius a:hover::after, .breadcrumb.radius .active a:after {
      border-left-color: #ddd; }

/*fancy style*/
/*radius breadcrumb*/
/* line 165, ../css/scss/elements/breadcrumbs.scss */
body.device-sm .breadcrumb, body.device-xs .breadcrumb, body.device-xxs .breadcrumb {
  text-align: left !important;
  clear: both; }
/* line 169, ../css/scss/elements/breadcrumbs.scss */
body.device-sm .page-title-right .breadcrumb, body.device-xs .page-title-right .breadcrumb, body.device-xxs .page-title-right .breadcrumb {
  text-align: right !important;
  clear: both;
  padding-top: 14px !important; }
/* line 174, ../css/scss/elements/breadcrumbs.scss */
body.device-sm .page-title-center .breadcrumb, body.device-xs .page-title-center .breadcrumb, body.device-xxs .page-title-center .breadcrumb {
  text-align: center !important;
  clear: both; }
