/* line 4, ../css/scss/elements/maps.scss */
.map {
  width: 100%;
  height: 370px;
  min-height: 100%; }

/* line 12, ../css/scss/elements/maps.scss */
body:not(.device-xxs):not(.device-xs):not(.device-sm):not(.device-md) section.fullscreen-map-form-container {
  margin-top: -300px; }
/* line 15, ../css/scss/elements/maps.scss */
body:not(.device-xxs):not(.device-xs):not(.device-sm):not(.device-md) .fullscreen-map-form-container {
  margin-bottom: 80px;
  margin-top: -300px;
  position: relative; }
/* line 22, ../css/scss/elements/maps.scss */
body:not(.device-md):not(.device-lg):not(.device-sm) .fullscreen-map-form-container {
  padding-top: 80px;
  padding-bottom: 80px; }
/* line 28, ../css/scss/elements/maps.scss */
body:not(.device-xxs):not(.device-xs) .fullscreen-map-form {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px; }
