/* line 4, ../css/scss/elements/pie-charts.scss */
.pie-animated {
  opacity: 1; }

/* line 7, ../css/scss/elements/pie-charts.scss */
.pie-chart {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 50px;
  position: relative;
  text-align: center; }
  /* line 13, ../css/scss/elements/pie-charts.scss */
  .pie-chart canvas {
    position: absolute;
    top: 0;
    left: 0; }
  /* line 18, ../css/scss/elements/pie-charts.scss */
  .pie-chart span,
  .pie-chart i {
    display: inline-block;
    font-size: 28px;
    z-index: 2;
    font-weight: 600; }
  /* line 25, ../css/scss/elements/pie-charts.scss */
  .pie-chart i {
    font-size: 38px; }
  /* line 28, ../css/scss/elements/pie-charts.scss */
  .pie-chart span.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em; }
  /* line 35, ../css/scss/elements/pie-charts.scss */
  .pie-chart.transparent span,
  .pie-chart.transparent span.percent,
  .pie-chart.transparent i {
    color: #fff; }
