/* line 4, ../css/scss/elements/tabs.scss */
.tabs-navigation {
  margin-bottom: 0px;
  padding-left: 0px;
  border-bottom-width: 0px;
  list-style: none; }
  /* line 9, ../css/scss/elements/tabs.scss */
  .tabs-navigation::after, .tabs-navigation::before {
    content: ' ';
    display: table; }
  /* line 14, ../css/scss/elements/tabs.scss */
  .tabs-navigation::after {
    clear: both; }
  /* line 17, ../css/scss/elements/tabs.scss */
  .tabs-navigation li {
    position: relative;
    display: block;
    float: left;
    margin: 0px 0px -1px; }
    /* line 22, ../css/scss/elements/tabs.scss */
    .tabs-navigation li a {
      position: relative;
      border: 1px solid transparent;
      margin-right: -1px;
      padding: 9px 20px 11px;
      display: block;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase; }
      /* line 34, ../css/scss/elements/tabs.scss */
      .tabs-navigation li a i:first-child {
        margin-right: 8px; }
      /* line 37, ../css/scss/elements/tabs.scss */
      .tabs-navigation li a i.tab-single-icon {
        margin: 0; }
      /* line 40, ../css/scss/elements/tabs.scss */
      .tabs-navigation li a img {
        max-width: none; }
    /* line 44, ../css/scss/elements/tabs.scss */
    .tabs-navigation li.active a {
      z-index: 3; }
      /* line 46, ../css/scss/elements/tabs.scss */
      .tabs-navigation li.active a::after {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        z-index: 1;
        height: 3px;
        transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s; }
      /* line 58, ../css/scss/elements/tabs.scss */
      .tabs-navigation li.active a:focus {
        cursor: default; }
  /* line 63, ../css/scss/elements/tabs.scss */
  .tabs-navigation li a,
  .tabs-navigation li a:focus,
  .tabs-navigation li a:hover {
    text-decoration: none;
    outline: 0; }

/* line 70, ../css/scss/elements/tabs.scss */
.tabs-content {
  position: relative;
  z-index: 2;
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  overflow: hidden; }
  /* line 77, ../css/scss/elements/tabs.scss */
  .tabs-content > .tab-pane {
    display: none; }
  /* line 80, ../css/scss/elements/tabs.scss */
  .tabs-content > .active {
    display: block; }

/* line 84, ../css/scss/elements/tabs.scss */
.tabs-vertical {
  overflow: hidden; }
  /* line 86, ../css/scss/elements/tabs.scss */
  .tabs-vertical .tabs-navigation {
    float: left;
    width: 240px;
    margin-top: 0px; }
    /* line 90, ../css/scss/elements/tabs.scss */
    .tabs-vertical .tabs-navigation li {
      float: none; }
      /* line 92, ../css/scss/elements/tabs.scss */
      .tabs-vertical .tabs-navigation li a {
        padding: 12px 20px;
        margin: 0px;
        border: 1px solid #dddddd; }
    /* line 98, ../css/scss/elements/tabs.scss */
    .tabs-vertical .tabs-navigation li.active a,
    .tabs-vertical .tabs-navigation li.active a:focus,
    .tabs-vertical .tabs-navigation li.active a:hover {
      border-right-width: 1px; }
    /* line 103, ../css/scss/elements/tabs.scss */
    .tabs-vertical .tabs-navigation li.active a::after {
      top: -1px;
      left: -1px;
      right: auto;
      bottom: -1px;
      width: 3px;
      height: auto; }
  /* line 112, ../css/scss/elements/tabs.scss */
  .tabs-vertical .tabs-content {
    left: -1px;
    margin: 0px 0px 40px 239px; }

/* line 118, ../css/scss/elements/tabs.scss */
.tabs-navigation li a {
  color: #70767a;
  border-color: #e5e8e8;
  background: #f3f6f6; }
  /* line 122, ../css/scss/elements/tabs.scss */
  .tabs-navigation li a:hover {
    color: #1c202a;
    background: #f8fafa; }
/* line 127, ../css/scss/elements/tabs.scss */
.tabs-navigation li.active a,
.tabs-navigation li.active a:focus,
.tabs-navigation li.active a:hover {
  border-color: #e5e8e8 #e5e8e8 #f8f9fb;
  color: #1c202a;
  box-shadow: none;
  background: #f8f9fb; }

/* line 137, ../css/scss/elements/tabs.scss */
.tabs-navigation-transparent li.active a,
.tabs-navigation-transparent li.active a:focus,
.tabs-navigation-transparent li.active a:hover {
  background: 0px 0px; }

/* line 145, ../css/scss/elements/tabs.scss */
.tabs-vertical .tabs-navigation li.active a,
.tabs-vertical .tabs-navigation li.active a:focus,
.tabs-vertical .tabs-navigation li.active a:hover {
  border-right-color: white;
  border-bottom-color: #dddddd; }
/* line 153, ../css/scss/elements/tabs.scss */
.tabs-vertical.tabs-right .tabs-navigation {
  float: right; }
  /* line 155, ../css/scss/elements/tabs.scss */
  .tabs-vertical.tabs-right .tabs-navigation li {
    float: none; }
/* line 159, ../css/scss/elements/tabs.scss */
.tabs-vertical.tabs-right .tabs-content {
  margin: 0px 239px 40px 0px;
  right: 0px;
  left: 0px; }
/* line 165, ../css/scss/elements/tabs.scss */
.tabs-vertical.tabs-right .tabs-navigation li.active a,
.tabs-vertical.tabs-right .tabs-navigation li.active a:focus,
.tabs-vertical.tabs-right .tabs-navigation li.active a:hover {
  border-color: #dddddd #dddddd #dddddd white;
  border-left-width: 1px;
  border-left-style: solid;
  margin-left: -1px !important; }
/* line 173, ../css/scss/elements/tabs.scss */
.tabs-vertical.tabs-right .tabs-navigation li.active a::after {
  left: auto;
  right: -1px; }
/* line 177, ../css/scss/elements/tabs.scss */
.tabs-vertical.tabs-right .tabs-navigation li a {
  margin-left: -1px;
  margin-right: auto; }

/* line 184, ../css/scss/elements/tabs.scss */
.tabs-content {
  border-color: #dddddd;
  background: white; }

/* line 193, ../css/scss/elements/tabs.scss */
.modern .tabs-navigation li:first-child {
  margin-left: 30px; }

/* line 199, ../css/scss/elements/tabs.scss */
.no-border .tabs-navigation li {
  border: 0; }
/* line 202, ../css/scss/elements/tabs.scss */
.no-border .tabs-content {
  border-style: solid none none;
  border-width: 1px 0px 0px; }

/* line 209, ../css/scss/elements/tabs.scss */
.simple .tabs-navigation li a {
  background-color: transparent;
  border-width: 0 0 2px;
  margin-bottom: -1px; }
/* line 214, ../css/scss/elements/tabs.scss */
.simple .tabs-navigation li.active a,
.simple .tabs-navigation li.active a:focus,
.simple .tabs-navigation li.active a:hover {
  border-color: #00c0e9;
  color: #2e343c; }
/* line 221, ../css/scss/elements/tabs.scss */
.simple .tabs-content {
  border-width: 2px 0 0;
  padding: 20px 0px; }

/* line 228, ../css/scss/elements/tabs.scss */
.clean .tabs-navigation li {
  border: 0; }
/* line 232, ../css/scss/elements/tabs.scss */
.clean .tabs-content {
  border: 0; }
/* line 236, ../css/scss/elements/tabs.scss */
.clean .tabs-navigation li.active a,
.clean .tabs-navigation li.active a:focus,
.clean .tabs-navigation li.active a:hover,
.clean .tabs-navigation li a {
  border-width: 0; }

/* line 244, ../css/scss/elements/tabs.scss */
.border .tabs-navigation li.active a::after {
  background: #00aab3; }

/* line 249, ../css/scss/elements/tabs.scss */
.radius .tabs-navigation li a {
  border-radius: 8px 8px 0px 0px; }
/* line 252, ../css/scss/elements/tabs.scss */
.radius .tabs-navigation li.active a {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }
/* line 257, ../css/scss/elements/tabs.scss */
.radius .tabs-content {
  border-radius: 0px 8px 8px; }

/* line 262, ../css/scss/elements/tabs.scss */
.justified .tabs-navigation {
  width: 100%;
  margin-bottom: -1px; }
  /* line 265, ../css/scss/elements/tabs.scss */
  .justified .tabs-navigation li {
    float: none;
    display: table-cell;
    width: 1%;
    text-align: left; }
    /* line 270, ../css/scss/elements/tabs.scss */
    .justified .tabs-navigation li:last-child a {
      margin-right: 0; }

/* line 277, ../css/scss/elements/tabs.scss */
.tabs-right .tabs-navigation li {
  float: right; }

/* line 282, ../css/scss/elements/tabs.scss */
.tabs-bottom ul.tabs-navigation {
  margin-top: -21px; }
/* line 285, ../css/scss/elements/tabs.scss */
.tabs-bottom .tabs-navigation li.active a::after {
  top: auto;
  bottom: -1px; }
/* line 290, ../css/scss/elements/tabs.scss */
.tabs-bottom .tabs-navigation li.active a,
.tabs-bottom .tabs-navigation li.active a:focus,
.tabs-bottom .tabs-navigation li.active a:focus {
  border-color: transparent #dddddd #dddddd; }

/* line 299, ../css/scss/elements/tabs.scss */
.color .tabs-navigation li.active a::after {
  background: none; }
/* line 302, ../css/scss/elements/tabs.scss */
.color .tabs-navigation li.active a {
  color: white;
  background: #00c0e9; }

/* line 313, ../css/scss/elements/tabs.scss */
.linetriangle .tabs-navigation > li.active > a {
  border-color: transparent; }
/* line 316, ../css/scss/elements/tabs.scss */
.linetriangle .tabs-navigation li.active a,
.linetriangle .tabs-navigation li.active a:focus,
.linetriangle .tabs-navigation li.active a:hover,
.linetriangle .tabs-navigation li a {
  border-left-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
  border-top-width: 0px;
  background: transparent;
  background-color: transparent; }
/* line 327, ../css/scss/elements/tabs.scss */
.linetriangle .tabs-navigation > li.active > a:after,
.linetriangle .tabs-navigation > li.active > a:before {
  border: medium outset transparent;
  content: "";
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
  z-index: 1; }
/* line 339, ../css/scss/elements/tabs.scss */
.linetriangle .tabs-navigation > li.active > a:after {
  border-top-color: #fafafa;
  border-width: 10px;
  margin-left: -10px; }
/* line 344, ../css/scss/elements/tabs.scss */
.linetriangle .tabs-navigation > li.active > a:before {
  border-top-color: rgba(0, 0, 0, 0.7);
  border-width: 11px;
  margin-left: -11px; }
/* line 350, ../css/scss/elements/tabs.scss */
.linetriangle.triangle-simple .tabs-content {
  background: #ffffff;
  border-color: #dddddd;
  border-width: 1px 0 0; }

@media screen and (max-width: 991px) {
  /* line 360, ../css/scss/elements/tabs.scss */
  .tabs-navigation,
  .tabs-vertical .tabs-content,
  .tabs-vertical .tabs-navigation,
  .justified .tabs-navigation,
  .tabs-right .tabs-navigation {
    width: auto;
    float: none; }

  /* line 368, ../css/scss/elements/tabs.scss */
  .tabs-content,
  .tabs-vertical .tabs-content,
  .justified .tabs-content,
  .tabs-right .tabs-content {
    margin-left: 0;
    min-height: 0 !important; }

  /* line 375, ../css/scss/elements/tabs.scss */
  .tabs-vertical .tabs-content,
  .justified .tabs-content,
  .tabs-right .tabs-content {
    left: 0; }

  /* line 380, ../css/scss/elements/tabs.scss */
  .tabs-vertical .tabs-content-transparent {
    border-left-width: 0;
    padding: 40px 0;
    border-top-width: 1px; }

  /* line 385, ../css/scss/elements/tabs.scss */
  .tabs-navigation li,
  .tabs-vertical .tabs-navigation li,
  .justified .tabs-navigation li,
  .justified .tabs-navigation li,
  .tabs-right .tabs-navigation li,
  .tabs-right .tabs-navigation li {
    width: auto;
    float: none;
    display: block;
    text-align: left; }

  /* line 396, ../css/scss/elements/tabs.scss */
  .tabs-navigation li a,
  .tabs-vertical .tabs-navigation li a {
    margin-right: 0; }

  /* line 400, ../css/scss/elements/tabs.scss */
  .tabs-vertical .tabs-navigation li a:after {
    width: auto;
    height: 3px;
    right: -1px;
    bottom: auto; }

  /* line 406, ../css/scss/elements/tabs.scss */
  .tabs-vertical .tabs-navigation li.active a {
    border-right-width: 1px; }

  /* line 409, ../css/scss/elements/tabs.scss */
  .tabs-navigation li.active a,
  .tabs-navigation li.active a:hover,
  .tabs-vertical .tabs-navigation li.active a,
  .tabs-vertical .tabs-navigation li.active a:hover {
    border-right-color: #d1d7d9;
    border-bottom-color: #d1d7d9; }

  /* line 416, ../css/scss/elements/tabs.scss */
  .tabs-navigation li.active a,
  .tabs-navigation li.active a:hover,
  .tabs-vertical .tabs-navigation li.active a,
  .tabs-vertical .tabs-navigation li.active a:hover {
    border-right-color: #dde1e1;
    border-bottom-color: #dde1e1; }

  /* line 423, ../css/scss/elements/tabs.scss */
  .tabs-vertical.tabs-right .tabs-navigation {
    width: 100%; }

  /* line 426, ../css/scss/elements/tabs.scss */
  .tabs-vertical.tabs-right .tabs-navigation li a {
    margin-left: 0px !important; }

  /* line 429, ../css/scss/elements/tabs.scss */
  .tabs-vertical.tabs-right .tabs-navigation li.active a {
    margin-left: 0px !important; }

  /* line 432, ../css/scss/elements/tabs.scss */
  .tabs-vertical.tabs-right .tabs-navigation li.active a:after {
    left: 0;
    right: auto; }

  /* line 436, ../css/scss/elements/tabs.scss */
  .tabs-vertical.tabs-right .tabs-content {
    margin-right: 0 !important; }

  /* line 439, ../css/scss/elements/tabs.scss */
  .radius .tabs-navigation li a {
    border-radius: 0px; }

  /* line 442, ../css/scss/elements/tabs.scss */
  .radius .tabs-navigation li:first-child a {
    border-radius: 8px 8px 0 0; }

  /* line 445, ../css/scss/elements/tabs.scss */
  .tabs.linetriangle .tabs-navigation li.active a:focus,
  .linetriangle .tabs-navigation li.active a:hover,
  .linetriangle .tabs-navigation li.active a,
  .linetriangle .tabs-navigation li a {
    border-width: 0 0 1px; } }
